{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link href="{% static 'blogapp/css/style.css' %}" rel="stylesheet">
        <script src="{% static 'blogapp/js/app.js' %}"></script>  
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% block homeactive %}  {% endblock homeactive %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block blogactive %}  {% endblock blogactive %} ">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item dropdown">
         
          <a class="nav-link dropdown-toggle" href="category" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Categories</a>
             

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/News">News</a>
            <a class="dropdown-item" href="LoveStory">Love Stories</a>
            <a class="dropdown-item" href="Jokes">Joks</a>
            <a class="dropdown-item" href="#">Facts</a>
            <a class="dropdown-item" href="#">Coding</a>
          </div>
        </li>
        <li class="nav-item {% block aboutactive %}  {% endblock aboutactive %}">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      
      </ul>
      <div class="ml-auto form-inline ">
        <form method="POST" action="{% url 'search' %}" class="my-2 my-lg-0 mx-3">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" id="query">
          <button class="btn btn-primary my-2 my-sm-0 " type="submit">Search</button>
        </form>

    
      <button class="nav-item ">
        <a class="nav-link" href="/login">Login</a>
      </button>
      <button class="nav-item " class="btn btn-primary my-2 my-sm-0 ">
        <a class="nav-link" href="/signup">Signup</a>
      </button>
      <button class="nav-item " class="btn btn-primary my-2 my-sm-0 ">
        <a class="nav-link" href="/create">CreateBlog</a>
      </button>

      

    </div>
  </nav>
      

  

        <div class="container">
            {% block main %}{% endblock %}
        </div>

    </body>
</html>