{% extends "blogapp/base.html" %}
{% block title %}latest blog {% endblock %}
{% block main %}

        <div class="container my-4">
    <div class="row mb-2">
        {% for latests in latest %}
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Blog Title: {{latests.blogtitle}}</strong>
                    <h3 class="mb-0">Blog Author: {{latests.bloguser}}</h3>
                    <p class="card-text mb-auto">{{latests.blogdecription}}</p>
                    <a href="" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="{{latests.blogimage.url}}" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
    
{% endblock %}