{% extends "blogapp/base.html" %}
{% block title %}Blog Home {% endblock %}
{% block main %}
        <form method="POST" action={% url "category1" %}>
          {% csrf_token%}
        <div class="clearfix">
                <h5 class="widget-title font-weight-700 text-uppercase">
                  Category
                </h5>
                <select name='choice'>
                {% for cats in cat %}
                  <option  value="{{cats.id}}">{{cats.category}}</option>
                  {% endfor %}
                </select>
                <input type="Submit">
        </div>
            </form>

            <div class="container my-4">
              <div class="row mb-2">
                  {% if blog %}
                  {% for blogs in blog %}
                  <div class="col-md-6">
                      <div
                          class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                          <div class="col p-4 d-flex flex-column position-static">
                              <strong class="d-inline-block mb-2 text-primary">Blog Title: {{blogs.blogtitle}}</strong>
                              <h3 class="mb-0">Blog Author: {{blogs.bloguser}}</h3>
                              <p class="card-text mb-auto">{{blogs.blogdecription}}</p>
                              <a href="{% url 'continue' %}" class="stretched-link">Continue reading</a>
                          </div>
                          <div class="col-auto d-none d-lg-block">
                              <img class="bd-placeholder-img" width="200" height="250" src={{blogs.blogimage}} alt="">
                          </div>
                      </div>
                  </div>
                  {% endfor %}
                  {% else %}
                  <p>NO data found</p>
                  {% endif %}
          
{% endblock %}