{% extends "blogapp/base.html" %}
{% block title %}Blog Home {% endblock %}
{% load widget_tweaks %}
{% block main %}
<br>
   

{% if blog.id%}

<div class="col-md-6">
    <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Blog Title: {{blog.blogtitle}}</strong>
            <h3 class="mb-0">Blog Author: {{blog.bloguser}}</h3>
            <p class="card-text mb-auto">{{blog.blogdecription}}</p>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img class="bd-placeholder-img" width="200" height="250" src={{blog.blogimage}} alt="">
        </div>
    </div>
</div>
{% endif %}


<form method = "POST" action="{% url 'continue1' %}">
    {% csrf_token %}
    <label>Comment</label>
        <input type="text" id="comment" name="comment"><br><br>
        <input type="submit" value="Submit">
        
    </form>  
    {% for context in result %}
        {{context}}
        {% endfor %}
        
{% endblock %}