{% extends "blogapp/base.html" %}
{% block title %}Contact Us {% endblock %}
{% load widget_tweaks %}
{% load static %}
{% block main %}
{% csrf_token %}
<form method="POST">
    {% csrf_token %}
<div class="container">
    <form action="action_page.php">
  
      <label for="fname">Blog Title</label>
      {% render_field form.blogtitle class="form-control" %}

      <label for="lname">User Name</label>
      {% render_field form.bloguser class="form-control" %}

      <label for="lname">Category</label>
      {% render_field form.blogcategory class="form-control" %}
  
      <label for="subject">Blog Image</label>
        {% render_field form.blogimage class="form-control" %}

      <label for="subject">Blog Decriptions</label>
        {% render_field form.blogdecription class="form-control" %}
    </br>
      <input type="submit" value="Submit">
  
    </form>
  </div>
</form>

{% endblock %}