{% extends "blogapp/base.html" %}
{% block title %}Blog Home {% endblock %}
{% block main %}

<div class="row mb-2">
    {% if post%}
    {% for posts in post%}
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Blog Title: {{posts.blogtitle}}</strong>
                    <h3 class="mb-0">Blog Author: {{posts.bloguser}}</h3>
                    <p class="card-text mb-auto">{{posts.blogdecription}}</p>
                    <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="{{posts.blogimage.url}}" alt="">
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>NO data found</p>
        
        {% endif %}
    

   
</div>
{% endblock %}